<div class="chat-window-container">
    <div class="chat-header">
        <div class="user-icon">
            <lucide-icon [img]="circleUserRound"></lucide-icon>
        </div>
        <div class="user-name">
            <p>{{recepientName()}}</p>
        </div>
    </div>
    <div class="scrollable-chat-area">
        @for (msg of messages; track $index) {
        <div class="chat-message" [ngClass]="{ 'me': msg.userId === userId, 'other': msg.userId !== userId }">
            <p>{{msg.content}}</p>
        </div>
        }
    </div>
    <div class="message-input-container">
        <input type="text" class="message-input" placeholder="Type your message here..." />
        <button class="send-button">Send</button>
    </div>
</div>