<div class="nav-container">
    <div class="nav-bar">
        <button class="nav-link" [routerLink]="['/home/search']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <lucide-icon [img]="userRoundSearch"></lucide-icon>
        </button>

        <button class="nav-link" [routerLink]="['/home/messages']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <lucide-icon [img]="messageCircle"></lucide-icon>
        </button>

        <button class="nav-link" [routerLink]="['/home/profile']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <lucide-icon [img]="user"></lucide-icon>
        </button>

        <button class="nav-link" [routerLink]="['/home/notifications']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <lucide-icon [img]="bell"></lucide-icon>
        </button>

        <button class="nav-link" [routerLink]="['/home/settings']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <lucide-icon [img]="settings"></lucide-icon>
        </button>
    </div>
</div>