.nav-container {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #1e1e1e;
}

.nav-bar {
    display: grid;
    height: 35%;
    justify-items: center;
    align-items: center;
    background-color: #222831;
    width: 80%;
    border-radius: 20px;
    box-shadow:
    0 0px 0px black, 0 1px 5px black;
}

.nav-link {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.nav-link lucide-icon {
  color: white;
  transition: color 0.3s;
}

.nav-link:hover lucide-icon {
  color: #2139ff;
}

.nav-link.active-link lucide-icon {
  color: #2139ff;
}
